@use 'app/styles/breakpoints';

.sidebar {
   &__container {
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: var(--white);
      overflow-x: hidden;
      transition: 0.5s all;
      padding-top: 15px;
   }
   &_button__container {
      text-align: end;
   }
   &_close__button {
      background: none;
      cursor: pointer;
      text-align: end;
      border: none;
      padding: 0;
      svg {
         width: 24px;
         height: 24px;
         @media (hover: hover) {
            &:hover {
               color: var(--primary-bg);
            }
         }
         @media (hover: none) {
            &:active {
               color: var(--primary-bg);
            }
         }
      }
   }
   &_open {
      border-left: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      padding-right: 15px;
      padding-left: 15px;
   }
}
