.label {
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: var(--text-input);
   font-size: 1rem;
}
.input {
   transition: all 0.15s linear;
   padding: 0 10px;
   border-radius: 0%;
   border: 1px solid var(--border);
   color: var(--text-primary);
   font-size: 1rem;
   height: 44px;

   &:hover {
      border: 1px solid var(--border-account);
   }
   &:focus {
      border: 1px solid var(--border-check);
   }
}

.password_container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   input {
      width: 100%;
      padding-right: 40px;
      &:focus::placeholder {
         opacity: 0;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
         -webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset;
         -webkit-text-fill-color: #000000;
      }
   }
   button {
      cursor: pointer;
      position: absolute;
      border: none;
      background: none;
      height: 26px;
      padding-right: 10px;
   }
   svg {
      width: 26px;
      height: 26px;
      color: var(--text-input);
   }
}
.error {
   border: 1px solid var(--red);

   &:hover {
      border: 1px solid var(--red);
   }
   &:focus {
      border: 1px solid var(--red);
   }

   &_title {
      font-size: 0.775rem;
      font-family: Arial;
      color: var(--red);
   }
}
