@use 'app/styles/breakpoints';

.input {
   transition: all 0.15s linear;
   padding: 0 40px 0 10px;
   border-radius: 0%;
   border: 1px solid var(--border);
   color: var(--text-input);
   font-size: 1rem;
   height: 44px;
   @media (max-width: breakpoints.$md) {
      &::placeholder {
         font-size: 0.875rem;
      }
   }
   &:hover {
      border: 1px solid var(--border-account);
   }
   &:focus {
      border: 1px solid var(--border-check);
   }
   width: 100%;
}
.label {
   display: flex;
   position: relative;
   > button {
      background: none;
      border: none;
      position: absolute;
      right: 5px;
      bottom: 0;
      top: 0;
      > svg {
         transition: all 0.15s linear;
         width: 24px;
         height: 24px;
         color: rgb(21, 21, 21);
      }
      &:not(:disabled) {
         cursor: pointer;
      }
      &:disabled {
         svg {
            opacity: 0.6;
         }
      }
   }
}
