.label {
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: var(--text-input);
   font-size: 1rem;
}
.input {
   transition: all 0.15s linear;
   padding: 0 10px;
   border-radius: 0%;
   border: 1px solid var(--border);
   color: var(--text-primary);
   font-size: 1rem;
   height: 48px;

   &:hover {
      border: 1px solid var(--border-account);
   }
   &:focus {
      border: 1px solid var(--border-check);
   }
}

.password_container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   input {
      width: 100%;
      padding-right: 40px;
   }
   button {
      cursor: pointer;
      position: absolute;
      border: none;
      background: none;
      height: 26px;
      padding-right: 10px;
   }
   svg {
      width: 26px;
      height: 26px;
      color: var(--text-input);
   }
}
.error {
   border: 1px solid var(--red);

   &:hover {
      border: 1px solid var(--red);
   }
   &:focus {
      border: 1px solid var(--red);
   }

   &_title {
      font-size: 0.875rem;
      color: var(--red);
      margin-top: 5px;
   }
}
