.footer_nav {
   &__title {
      margin-bottom: 7px;
      color: var(--text-primary);
      font-size: 1.125rem;
   }
   &__ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
}
