.radio {
   &__container {
      display: flex;
      gap: 15px;
      > svg {
         width: 22px;
         height: 22px;
         > rect {
            fill: var(--primary-bg);
         }
         > path {
            stroke: white;
            fill: white;
         }
      }
   }
   &__input {
      width: 22px;
      height: 22px;
      margin: 0;
      cursor: pointer;
      &:checked {
         background: var(--primary-bg);
      }
   }
}
