.filterPanel {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &_categories__container {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}