@use 'app/styles/breakpoints';

.catalogProducts {
   &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      max-width: 966px;
      @media (min-width: breakpoints.$xl) {
         max-width: 1080px;
      }
   }
   &__button {
      width: 100%;
      padding: 15px 12px;
      margin-top: 50px;
   }
   &_product_card {
      max-width: 256px;
      width: 100%;
      @media (max-width: breakpoints.$md) {
         max-width: 202px;
         img {
            max-height: 202px;
         }
      }
   }
  
}
