@use 'app/styles/breakpoints';

.dropdown {
   &__item {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
         width: 80px;
      }
      @media (max-width: breakpoints.$sm) {
         gap: 10px;
         img {
            width: 60px;
         }
      }
   }

   &_title__container {
      flex-grow: 1;
      min-width: 0;
      color: var(--black);
      p {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         font-size: 1.125rem;
      }
      @media (max-width: breakpoints.$sm) {
         p {
            font-size: 1rem;
         }
      }
   }
   &_description {
      line-height: 30px;
      font-size: 1rem !important;
      color: var(--border-account);
   }
   &_price {
      font-weight: 600;
      color: var(--dark-red);
      font-size: 1rem;
      white-space: nowrap;
      @media (max-width: breakpoints.$md) {
         font-size: 0.8109375rem;
      }
   }
}
