@use 'app/styles/breakpoints';

.cartProduct {
   &_main__container {
      display: grid;
      grid-template-columns: 1fr 2.5fr 1fr 0.2fr;
      align-items: center;
      padding: 20px 0;
      gap: 10px;
      max-width: 800px;
      img {
         cursor: pointer;
         width: 180px;
         height: auto;
         object-fit: contain;
         @media (max-width: breakpoints.$md) {
            width: 120px;
         }
         @media (max-width: breakpoints.$sm) {
            width: 100px;
         }
      }
      border-bottom: 1px solid var(--border-secondary);
   }
   &_title__container {
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--black);
      p {
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         font-size: 1.25rem;
      }
      @media (max-width: breakpoints.$md) {
         p {
            font-size: 1.125rem;
         }
         gap: 5px;
      }
      @media (max-width: breakpoints.$sm) {
         p {
            font-size: 1rem;
         }
         gap: 2px;
      }
   }
   &_description {
      font-size: 1.125rem !important;
      color: var(--border-account);
      @media (max-width: breakpoints.$md) {
         font-size: 1rem !important;
      }
   }
   &_price {
      font-weight: 600;
      color: var(--dark-red);
      font-size: 1.375rem;
      white-space: nowrap;
      @media (max-width: breakpoints.$md) {
         font-size: 1.25rem;
      }
      @media (max-width: breakpoints.$sm) {
         font-size: 1.125rem !important;
      }
   }
}
