@use 'app/styles/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

.header {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
   padding: 30px;
   @media (max-width: breakpoints.$md) {
      padding: 20px;
   }
   @media (max-width: breakpoints.$sm) {
      padding: 15px;
   }
   &_inner__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @media (max-width: breakpoints.$sm) {
         gap: 10px;
      }
   }
   .logo__container {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
         width: 48px;
      }

      h2 {
         text-transform: uppercase;
         color: var(--black);
         font-family: 'Montserrat';
      }
      @media (max-width: breakpoints.$md) {
         gap: 7px;
         img {
            width: 40px;
         }
         h2 {
            font-size: 1.2rem;
         }
      }
      @media (max-width: breakpoints.$sm) {
         gap: 5px;
         img {
            width: 30px;
         }
         h2 {
            font-size: 1rem;
         }
      }
   }
   &_side_bar {
      left: 0;
      right: auto;
   }
   &__search {
      flex-grow: 1;
      @media (min-width: breakpoints.$lg) {
         max-width: 600px;
      }
   }
   &_catalog__button {
      max-height: 44px;
      font-size: 1.2rem;
      font-family: Montserrat;
      svg {
         width: 24px;
         height: 24px;
      }
      &:hover {
         svg {
            fill: var(--primary-bg)
         }
      }
      @media (min-width: (breakpoints.$md + 1px)) {
         display: none;
      }
      @media (max-width: breakpoints.$sm) {
         border: none;
         padding: 0px;
         span {
            display: none;
         }
      }
   }

   &_catalog_with_burger {
      ul {
         display: flex;
         flex-direction: column;
      }
   }
   &_catalog_without_burger {
      @media (max-width: breakpoints.$md) {
         ul {
            display: none;
         }
      }
      @media (min-width: breakpoints.$lg) {
         ul {
            gap: 30px;
         }
      }
      @media (min-width: breakpoints.$xxl) {
         ul {
            gap: 40px;
         }
      }
   }
}
