@use 'app/styles/breakpoints';

.search {
   &_input {
      transition: all 0.15s linear;
      padding: 0 10px;
      border-radius: 0%;
      border: 1px solid var(--border);
      color: var(--text-primary);
      font-size: 1rem;
      height: 44px;
      @media (max-width: breakpoints.$md) {
         &::placeholder {
            font-size: 0.875rem;
         }
      }
      &:hover {
         border: 1px solid var(--border-account);
      }
      &:focus {
         border: 1px solid var(--border-check);
      }
      width: 100%;
   }
   &_info {
      @media (max-width: breakpoints.$md) {
         font-size: 0.875rem;
      }
   }
   &_dropdown_container {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &_dropdown {
      z-index: 1;
   }
}
